<h1>Album title: {{album.data.title}}</h1>
<h4>Album id: {{album.data.id}}</h4>

<form #albumForm="ngForm" (ngSubmit)="addImage(imageUrl)">
    <div class="form-group">
        <label>Image Url</label>
        <input #name="ngModel"  [(ngModel)]="imageUrl" name="imageUrl" type="text" class="form-control">
    </div>
    <button type="submit">Add Image to this album</button>
</form>

<br><br>

<button (click)="deleteAlbum(album.data.id)"> Delete This Album</button>
<button> Edit This Album</button>

<hr>

<div *ngFor="let image of album.data.images">
    <img src="{{image.link}}" width="550">
    <button (click)="favoriteImage(image.id)">Favrite this image</button>
    <hr>
</div>



<form #commentForm="ngForm" (ngSubmit)="submitComment(album.data.id, comment)">
    <div class="form-group">
        <label>Post a comment</label>
        <input #name="ngModel"  [(ngModel)]="comment" name="comment" type="text" class="form-control">
    </div>

    <div>
        <button type="submit">Post</button>
    </div>
</form>

<hr>



<app-comments></app-comments>



