<h3>Add new album</h3>

<p>Albums made in MyImgurApp are private by default</p>
<p>To make it public for viewing and commenting you must "Share With Community" on https://imgur.com/</p>


<div class="container">

  <form #albumForm="ngForm" (ngSubmit)="submit(title)">
      <div class="form-group">
          <label>Title</label>
          <input #name="ngModel" [(ngModel)]="title" name="title" type="text"
           placeholder="Enter new title here" class="form-control">
      </div>

      <div>
          <button type="submit">Add Album</button>
      </div>
  </form>

</div>